@charset "UTF-8";
@font-face {
  font-family: "fontname";
  src: url("../assets/fonts/fontname.eot");
  src: url("../assets/fonts/fontname.eot?#iefix") format("eot"), url("../assets/fonts/fontname.woff2") format("woff2"), url("../assets/fonts/fontname.woff") format("woff"), url("../assets/fonts/fontname.ttf") format("truetype"), url("../assets/fonts/fontname.svg#fontname") format("svg"); }

.icon-facebook-icon:before, .icon-twitter-icon:before, .icon-youtube-icon:before {
  font-family: "fontname";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-facebook-icon:before {
  content: ""; }

.icon-twitter-icon:before {
  content: ""; }

.icon-youtube-icon:before {
  content: ""; }

@font-face {
  font-family: 'MuseoSans-100';
  src: url("../assets/fonts/MuseoSans-100.eot") format("eot"), url("../assets/fonts/MuseoSans-100.woff") format("woff"), url("../assets/fonts/MuseoSans-100.ttf") format("truetype"), url("../assets/fonts/MuseoSans-100.svg") format("svg"); }

@font-face {
  font-family: 'MuseoSans-300';
  src: url("../assets/fonts/MuseoSans-300.eot") format("eot"), url("../assets/fonts/MuseoSans-300.woff") format("woff"), url("../assets/fonts/MuseoSans-300.ttf") format("truetype"), url("../assets/fonts/MuseoSans-300.svg") format("svg"); }

@font-face {
  font-family: 'MuseoSans-500';
  src: url("../assets/fonts/MuseoSans-500.eot") format("eot"), url("../assets/fonts/MuseoSans-500.woff") format("woff"), url("../assets/fonts/MuseoSans-500.ttf") format("truetype"), url("../assets/fonts/MuseoSans-500.svg") format("svg"); }

@font-face {
  font-family: 'MuseoSans-700';
  src: url("../assets/fonts/MuseoSans-700.eot") format("eot"), url("../assets/fonts/MuseoSans-700.woff") format("woff"), url("../assets/fonts/MuseoSans-700.ttf") format("truetype"), url("../assets/fonts/MuseoSans-700.svg") format("svg"); }

@font-face {
  font-family: 'MuseoSans-900';
  src: url("../assets/fonts/MuseoSans-900.eot") format("eot"), url("../assets/fonts/MuseoSans-900.woff") format("woff"), url("../assets/fonts/MuseoSans-900.ttf") format("truetype"), url("../assets/fonts/MuseoSans-900.svg") format("svg"); }

.btn {
  border: none;
  outline: none;
  font-family: 'MuseoSans-700';
  border-radius: 30px;
  text-align: left;
  margin: 0; }
  .btn .arrow-right {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .btn .arrow-right {
        padding: 3px; } }
    @media only screen and (max-width: 767px) {
      .btn .arrow-right {
        padding: 3px; } }

.button-blue {
  background: #004ffb;
  color: #ffffff;
  padding: 14px 25px;
  font-size: 18px;
  margin-top: 4px;
  margin-left: 5px;
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .button-blue {
      margin-left: 0;
      padding: 14px 25px; } }
  @media only screen and (max-width: 767px) {
    .button-blue {
      margin-top: 10px;
      margin-left: 0px;
      padding: 10px 11px;
      border-radius: 30px;
      font-size: 13px; } }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .button-blue .arrow-right {
      margin-left: 6px; } }
  @media only screen and (max-width: 767px) {
    .button-blue .arrow-right {
      margin-left: 4px; } }

.button-blue-second {
  background: #004ffb;
  color: #ffffff;
  padding: 10px 16px;
  font-size: 16px;
  margin-left: 4px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .button-blue-second {
      font-size: 14px;
      padding: 10px 19px;
      letter-spacing: 0.1px;
      margin-left: 8px; } }
  @media only screen and (max-width: 767px) {
    .button-blue-second {
      display: none; } }
  .button-blue-second .arrow-right {
    margin-left: 2px; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .button-blue-second .arrow-right {
        margin-left: 7px; } }

.button-white {
  background-color: #ffffff;
  color: #004ffb;
  border: 2px solid #004ffb;
  padding: 9px 16px;
  font-size: 16px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .button-white {
      margin-right: 17px;
      font-size: 16px;
      padding: 9px 11px; } }
  @media only screen and (max-width: 767px) {
    .button-white {
      padding: 10px 14px;
      letter-spacing: 0px;
      font-size: 13px; } }
  .button-white .arrow-right {
    border: solid #004ffb;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .button-white .arrow-right {
        margin-left: 11px; } }

.carousel-buttons {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-668%);
          transform: translateY(-668%); }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .carousel-buttons {
      -webkit-transform: translateY(-513%);
              transform: translateY(-513%); } }
  @media only screen and (max-width: 767px) {
    .carousel-buttons {
      -webkit-transform: translateY(-402%);
              transform: translateY(-402%); } }
  .carousel-buttons .button-arrows {
    color: #ffffff;
    width: 65px;
    height: 65px;
    border: 5px solid #ffffff;
    border-radius: 65px;
    background-color: transparent;
    outline: none; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .carousel-buttons .button-arrows {
        width: 42px;
        height: 42px;
        border: 3px solid #ffffff;
        border-radius: 42px; } }
    @media only screen and (max-width: 767px) {
      .carousel-buttons .button-arrows {
        width: 23px;
        height: 23px;
        border: 2px solid #ffffff;
        border-radius: 23px; } }
  .carousel-buttons .js-slide-next {
    float: right; }

i {
  border: solid #ffffff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    i {
      border-width: 0 3px 3px 0;
      padding: 4px; } }
  @media only screen and (max-width: 767px) {
    i {
      border-width: 0 2px 2px 0;
      padding: 2px; } }

.right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 60px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .container {
      padding: 0 22px; } }
  @media only screen and (max-width: 767px) {
    .container {
      padding: 0 20px; } }

@media only screen and (min-width: 768px) and (max-width: 1050px) {
  .header-wrapper {
    position: absolute;
    width: 100%;
    right: 0;
    -webkit-transition: right 300ms ease;
    transition: right 300ms ease; } }

@media only screen and (max-width: 767px) {
  .header-wrapper {
    position: absolute;
    width: 100%;
    right: 0;
    -webkit-transition: right 300ms ease;
    transition: right 300ms ease; } }

@media only screen and (min-width: 768px) and (max-width: 1050px) {
  .open-menu {
    -webkit-transition: right 300ms ease;
    transition: right 300ms ease;
    right: 80%; }
    .open-menu .nav-menu {
      right: 0; } }

@media only screen and (max-width: 767px) {
  .open-menu {
    -webkit-transition: right 300ms ease;
    transition: right 300ms ease;
    right: 70%; }
    .open-menu .nav-menu {
      right: 0; } }

.main-header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 140px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .main-header {
      height: 79px; } }
  @media only screen and (max-width: 767px) {
    .main-header {
      height: 64px; } }

.logo {
  display: inline-block; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .logo .logo-image-d {
      display: none; } }
  @media only screen and (max-width: 767px) {
    .logo .logo-image-d {
      display: none; } }
  .logo .logo-image-t {
    display: none; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .logo .logo-image-t {
        display: inherit;
        margin-left: 3px; } }
    @media only screen and (max-width: 767px) {
      .logo .logo-image-t {
        display: none; } }
  .logo .logo-image-m {
    display: none; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .logo .logo-image-m {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .logo .logo-image-m {
        display: inherit;
        margin-bottom: 3px;
        margin-left: 2px; } }

@media only screen and (min-width: 768px) and (max-width: 1050px) {
  .hamburger-menu {
    margin-bottom: 14px; } }

@media only screen and (max-width: 767px) {
  .hamburger-menu {
    margin-right: 5px;
    margin-bottom: 14px; } }

.hamburger-button {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .hamburger-button {
      display: block;
      background: transparent;
      border: none;
      outline: none; } }
  @media only screen and (max-width: 767px) {
    .hamburger-button {
      display: block;
      background: transparent;
      border: none;
      outline: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .hamburger-button .hamburger-icon {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      border: 3px solid #2f48f7;
      padding: 6px;
      margin-right: 4px;
      margin-top: 14px; }
      .hamburger-button .hamburger-icon .hamburger-inner,
      .hamburger-button .hamburger-icon .hamburger-inner::after,
      .hamburger-button .hamburger-icon .hamburger-inner::before {
        position: absolute;
        width: 21px;
        height: 3px;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-duration: .15s;
                transition-duration: .15s;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        border-radius: 3px;
        background-color: #2f48f7; }
      .hamburger-button .hamburger-icon .hamburger-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
        width: 15px; }
        .hamburger-button .hamburger-icon .hamburger-inner:before, .hamburger-button .hamburger-icon .hamburger-inner:after {
          display: block;
          content: ''; }
        .hamburger-button .hamburger-icon .hamburger-inner:before {
          top: -6px; }
        .hamburger-button .hamburger-icon .hamburger-inner:after {
          bottom: -6px; } }
  @media only screen and (max-width: 767px) {
    .hamburger-button .hamburger-icon {
      position: relative;
      display: inline-block;
      width: 33px;
      height: 33px;
      border-radius: 33px;
      border: 2px solid #2f48f7;
      padding: 5px;
      margin-right: -9px;
      margin-top: 16px; }
      .hamburger-button .hamburger-icon .hamburger-inner,
      .hamburger-button .hamburger-icon .hamburger-inner::after,
      .hamburger-button .hamburger-icon .hamburger-inner::before {
        position: absolute;
        width: 18px;
        height: 2px;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-duration: .15s;
                transition-duration: .15s;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        border-radius: 2px;
        background-color: #2f48f7; }
      .hamburger-button .hamburger-icon .hamburger-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
        width: 15px; }
        .hamburger-button .hamburger-icon .hamburger-inner:before, .hamburger-button .hamburger-icon .hamburger-inner:after {
          display: block;
          content: ''; }
        .hamburger-button .hamburger-icon .hamburger-inner:before {
          top: -6px; }
        .hamburger-button .hamburger-icon .hamburger-inner:after {
          bottom: -6px; } }

.nav-menu {
  display: inline-block;
  margin-top: 27px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .nav-menu {
      width: 80%;
      margin: 0;
      background: #121d3e;
      position: fixed;
      height: 100%;
      right: -80%;
      top: 0;
      -webkit-transition: right 300ms ease;
      transition: right 300ms ease; } }
  @media only screen and (max-width: 767px) {
    .nav-menu {
      width: 70%;
      margin: 0;
      background: #121d3e;
      position: fixed;
      height: 100%;
      right: -70%;
      top: 0;
      -webkit-transition: right 300ms ease;
      transition: right 300ms ease; } }

.nav-menu-list {
  margin: 0;
  padding-left: 0; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .nav-menu-list {
      margin-top: 129px; } }
  @media only screen and (max-width: 767px) {
    .nav-menu-list {
      margin-top: 100px; } }

.nav-item {
  float: left;
  list-style-type: none;
  margin-left: 44px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .nav-item {
      float: none;
      margin-bottom: 47px;
      margin-left: 100px; } }
  @media only screen and (max-width: 767px) {
    .nav-item {
      float: none;
      margin-bottom: 32px;
      margin-left: 30px; } }
  .nav-item .uderline-blue {
    text-decoration: none;
    font-size: 18px;
    color: #081f3f;
    font-family: 'MuseoSans-700';
    text-align: center;
    padding-bottom: 42px; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .nav-item .uderline-blue {
        color: #ffffff;
        font-size: 20px; } }
    @media only screen and (max-width: 767px) {
      .nav-item .uderline-blue {
        color: #ffffff;
        font-size: 18px; } }
  .nav-item .uderline-blue:hover {
    border-bottom: 5px solid #0050ff; }

.nav-menu-icons {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .nav-menu-icons {
      display: inline-block;
      list-style-type: none;
      margin-left: 100px;
      margin-top: 21px;
      padding: 0; } }
  @media only screen and (max-width: 767px) {
    .nav-menu-icons {
      display: inline-block;
      list-style-type: none;
      margin-top: 6px;
      margin-left: 30px;
      padding: 0; } }
  .nav-menu-icons .soc-icons {
    margin-right: 34px;
    color: #808b9b;
    text-decoration: none; }
    @media only screen and (max-width: 767px) {
      .nav-menu-icons .soc-icons {
        margin-right: 22px; } }

.hero {
  position: relative;
  height: 871px;
  background-position: center top; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .hero {
      height: 500px;
      background-position: unset; } }
  @media only screen and (max-width: 767px) {
    .hero {
      height: 190px;
      background-position: unset; } }

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5); }

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 300px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .hero-content {
      max-width: 500px;
      padding-top: 157px; } }
  @media only screen and (max-width: 767px) {
    .hero-content {
      max-width: 260px;
      padding-top: 34px; } }

.hero-text {
  letter-spacing: -1.3px;
  margin-bottom: 36px;
  font-weight: 100;
  line-height: 1.25;
  font-size: 60px;
  color: #ffffff;
  font-family: 'MuseoSans-100';
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .hero-text {
      font-size: 41px;
      line-height: 1.2;
      letter-spacing: -1.3px;
      margin-bottom: 24px; } }
  @media only screen and (max-width: 767px) {
    .hero-text {
      font-size: 24px;
      margin: 0;
      letter-spacing: -0.2px; } }

.rte {
  margin-top: 92px;
  margin-bottom: 47px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .rte {
      margin-top: 33px;
      margin-bottom: 0; } }
  @media only screen and (max-width: 767px) {
    .rte {
      margin-top: 13px;
      margin-bottom: 0; } }
  .rte h2 {
    font-family: 'MuseoSans-300';
    font-size: 40px;
    color: #081f3f;
    margin-bottom: 30px;
    letter-spacing: -0.5px; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .rte h2 {
        font-size: 30px;
        margin-bottom: 26px; } }
    @media only screen and (max-width: 767px) {
      .rte h2 {
        font-size: 20px;
        margin-bottom: 14px;
        letter-spacing: -0.1px; } }
  .rte p {
    font-family: 'MuseoSans-300';
    color: #081f3f;
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.7;
    letter-spacing: -0.1px; }
    .rte p:last-child {
      margin-bottom: 18px; }
      @media only screen and (max-width: 767px) {
        .rte p:last-child {
          margin-bottom: 14px; } }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .rte p {
        font-size: 16px;
        line-height: 1.66;
        margin-bottom: 22px;
        letter-spacing: -0.1px; } }
    @media only screen and (max-width: 767px) {
      .rte p {
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: 0px;
        margin-bottom: 12px; } }
    .rte p a {
      text-decoration: none;
      color: #0050ff; }
    .rte p a:hover {
      text-decoration: underline; }
    @media only screen and (max-width: 767px) {
      .rte p span {
        display: none; } }
  .rte ul {
    list-style-type: circle;
    font-family: 'MuseoSans-300';
    color: #081f3f;
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 1.7;
    letter-spacing: -0.1px;
    list-style-position: outside;
    margin-left: 17px;
    width: 64%; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .rte ul {
        font-size: 16px;
        line-height: 1.66;
        margin-bottom: 22px;
        width: unset; } }
    @media only screen and (max-width: 767px) {
      .rte ul {
        font-size: 13px;
        letter-spacing: -0.1px;
        margin-bottom: 19px;
        line-height: 1.4;
        width: unset; } }
    .rte ul li {
      margin-bottom: 16px; }
      @media only screen and (min-width: 768px) and (max-width: 1050px) {
        .rte ul li {
          margin-bottom: 14px; } }
      @media only screen and (max-width: 767px) {
        .rte ul li {
          margin-bottom: 5px; } }
      .rte ul li span {
        position: relative;
        left: 12px; }
        @media only screen and (max-width: 767px) {
          .rte ul li span {
            left: 0; } }
  .rte h3 {
    font-family: 'MuseoSans-300';
    color: #081f3f;
    font-size: 26px;
    margin-bottom: 26px; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .rte h3 {
        font-size: 24px;
        margin-top: 0;
        letter-spacing: -0.2px;
        margin-bottom: 29px; } }
    @media only screen and (max-width: 767px) {
      .rte h3 {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 14px; } }

.carousel {
  min-height: 800px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .carousel {
      min-height: 375px; } }
  @media only screen and (max-width: 767px) {
    .carousel {
      min-height: 157px; } }

.carousel-cell {
  width: 100%;
  min-height: 800px;
  margin-right: 10px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .carousel-cell {
      min-height: 375px; } }
  @media only screen and (max-width: 767px) {
    .carousel-cell {
      min-height: 157px; } }

.text-slider {
  position: absolute;
  top: 303px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
  max-width: 800px;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .text-slider {
      min-width: 600px;
      top: 113px; } }
  @media only screen and (max-width: 767px) {
    .text-slider {
      top: 58px;
      min-width: 150px; } }
  .text-slider h3 {
    font-family: 'MuseoSans-100';
    font-size: 60px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: -1.6px;
    margin-bottom: 29px; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .text-slider h3 {
        font-size: 34px;
        letter-spacing: -0.7px;
        margin-bottom: 18px; } }
    @media only screen and (max-width: 767px) {
      .text-slider h3 {
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: -0.59px;
        margin-bottom: 0;
        margin-left: 9px; } }
  .text-slider p {
    font-family: 'MuseoSans-300';
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 42px;
    line-height: 1.7;
    letter-spacing: 0.34px; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .text-slider p {
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.1px;
        font-weight: 100;
        margin-bottom: 27px; } }
    @media only screen and (max-width: 767px) {
      .text-slider p {
        display: none; } }

.news {
  background-color: #fbfbfb; }
  .news .news-title {
    font-size: 50px;
    font-family: 'MuseoSans-100';
    font-weight: 100;
    text-align: center;
    color: #081f3f;
    padding-top: 102px;
    margin-bottom: 49px;
    letter-spacing: -1.1px; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .news .news-title {
        font-size: 35px;
        padding-top: 53px;
        margin-right: 27px;
        margin-bottom: 41px; } }
    @media only screen and (max-width: 767px) {
      .news .news-title {
        font-size: 22px;
        padding-top: 20px;
        letter-spacing: 0.1px;
        margin-bottom: 28px; } }

.info-block {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  margin-bottom: 105px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .info-block {
      grid-template-columns: 31% 31% 31%;
      -webkit-column-gap: 25px;
         -moz-column-gap: 25px;
              column-gap: 25px;
      margin-bottom: 70px; } }
  @media only screen and (max-width: 767px) {
    .info-block {
      grid-template-columns: auto;
      margin-bottom: 28px;
      margin-left: 2px; } }

.block-news {
  display: inline-block; }
  @media only screen and (max-width: 767px) {
    .block-news {
      margin-bottom: 17px;
      padding-bottom: 26px; } }
  .block-news .news-img {
    width: 100%;
    height: 221px;
    margin-bottom: 26px;
    background-color: #000000; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .block-news .news-img {
        height: 130px; } }
    @media only screen and (max-width: 767px) {
      .block-news .news-img {
        height: 84px;
        display: inline-block;
        width: 31%;
        float: left;
        margin-bottom: 0;
        margin-right: 9px; } }
  .block-news p {
    font-size: 18px;
    font-family: 'MuseoSans-300';
    color: #081f3f;
    margin-bottom: 21px; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .block-news p {
        font-size: 14px;
        margin-bottom: 12px;
        letter-spacing: 0.5px;
        margin-left: 1px; } }
    @media only screen and (max-width: 767px) {
      .block-news p {
        font-size: 13px;
        margin-bottom: 11px; } }
  .block-news h3 {
    font-size: 30px;
    font-family: 'MuseoSans-300';
    font-weight: 100;
    color: #081f3f;
    letter-spacing: -0.59px;
    line-height: 1.45; }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      .block-news h3 {
        font-size: 18px;
        letter-spacing: -0.29px;
        line-height: 1.3;
        margin-left: 3px; } }
    @media only screen and (max-width: 767px) {
      .block-news h3 {
        font-size: 15px;
        letter-spacing: -0.4px; } }

@media only screen and (max-width: 767px) {
  .line-news {
    border-bottom: 2px solid #e6e6e6; } }

.news-button {
  text-align: center;
  padding-bottom: 109px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .news-button {
      padding-bottom: 42px; } }
  @media only screen and (max-width: 767px) {
    .news-button {
      padding-bottom: 49px; } }

.footer {
  background-color: #fbfbfb;
  border-top: 2px solid #e6e6e6; }

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  height: 82px; }
  @media only screen and (max-width: 767px) {
    .main-footer {
      height: 65px; } }

.left-footer {
  font-size: 14px;
  font-family: 'MuseoSans-500';
  color: #808b9b; }
  @media only screen and (max-width: 767px) {
    .left-footer {
      font-size: 11px; } }
  .left-footer .blue-text {
    color: #0050ff; }

.footer-soc-icons {
  margin-top: 4px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .footer-soc-icons {
      margin-top: 8px; } }

.soc-icons {
  margin-left: 8px;
  color: #808b9b;
  text-decoration: none; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .soc-icons {
      margin-left: 9px; } }
  @media only screen and (max-width: 767px) {
    .soc-icons {
      margin-left: 3px; } }

.icon-facebook-icon {
  font-size: 18px; }
  @media only screen and (max-width: 767px) {
    .icon-facebook-icon {
      font-size: 14px; } }

.icon-twitter-icon {
  font-size: 14px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .icon-twitter-icon {
      font-size: 16px; } }

.icon-youtube-icon {
  font-size: 14px; }
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .icon-youtube-icon {
      font-size: 16px; } }
