*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 60px;

	@include mq(tablet) {
		padding: 0 22px;
	}

	@include mq(mobile) {
		padding: 0 20px;
	}
}

.header-wrapper {
	@include mq(tablet) {
		position: absolute;
		width: 100%;
		right: 0;
		transition: right $duration ease;
	}

	@include mq(mobile) {
		position: absolute;
		width: 100%;
		right: 0;
		transition: right $duration ease;
	}
}

.open-menu {
	@include mq(tablet) {
		transition: right $duration ease;
		right: 80%;

		.nav-menu {
			right: 0;
		}
	}

	@include mq(mobile) {
		transition: right $duration ease;
		right: 70%;

		.nav-menu {
			right: 0;
		}
	}
}

.main-header {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 140px;

	@include mq(tablet) {
		height: 79px;
	}

	@include mq(mobile) {
		height: 64px;
	}
}

.logo {
	display: inline-block;

	.logo-image-d {
		@include mq(tablet) {
			display: none;
		}

		@include mq(mobile) {
			display: none;
		}
	}

	.logo-image-t {
		display: none;

		@include mq(tablet) {
			display: inherit;
			margin-left: 3px;
		}

		@include mq(mobile) {
			display: none;
		}
	}

	.logo-image-m {
		display: none;

		@include mq(tablet) {
			display: none;
		}

		@include mq(mobile) {
			display: inherit;
			margin-bottom: 3px;
			margin-left: 2px;
		
		}
	}
}

.hamburger-menu {
	@include mq(tablet) {
		margin-bottom: 14px;
	}

	@include mq(mobile) {
		margin-right: 5px;
		margin-bottom: 14px;
	}
}

.hamburger-button {
	display: none;

	@include mq(tablet) {
		display: block;
		background: transparent;
		border: none;
		outline: none;
	}

	@include mq(mobile) {
		display: block;
		background: transparent;
		border: none;
		outline: none;
	}

	.hamburger-icon {
		@include mq(tablet) {
			position: relative;
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 40px;
			border: 3px solid $menu-blue;
			padding: 6px;
			margin-right: 4px;
			margin-top: 14px;

			.hamburger-inner,
			.hamburger-inner::after,
			.hamburger-inner::before {
				position: absolute;
				width: 21px;
				height: 3px;
				transition-timing-function: ease;
				transition-duration: .15s;
				transition-property: transform;
				border-radius: 3px;
				background-color: $menu-blue;
			}

			.hamburger-inner {
				top: 50%;
				display: block;
				margin-top: -2px;
				width: 15px;

				&:before,
				&:after {
					display: block;
					content: '';
				}

				&:before {
					top: -6px;
				}

				&:after {
					bottom: -6px;
				}
			}
		}

		@include mq(mobile) {
			position: relative;
			display: inline-block;
			width: 33px;
			height: 33px;
			border-radius: 33px;
			border: 2px solid $menu-blue;
			padding: 5px;
			margin-right: -9px;
			margin-top: 16px;

			.hamburger-inner,
			.hamburger-inner::after,
			.hamburger-inner::before {
				position: absolute;
				width: 18px;
				height: 2px;
				transition-timing-function: ease;
				transition-duration: .15s;
				transition-property: transform;
				border-radius: 2px;
				background-color: $menu-blue;
			}

			.hamburger-inner {
				top: 50%;
				display: block;
				margin-top: -2px;
				width: 15px;

				&:before,
				&:after {
					display: block;
					content: '';
				}

				&:before {
					top: -6px;
				}

				&:after {
					bottom: -6px;
				}
			}
		}
	}
}

.nav-menu {
	display: inline-block;
	margin-top: 27px;

	@include mq(tablet) {
		width: 80%;
		margin: 0;
		background: $dark-blue;
		position: fixed;
		height: 100%;
		right: -80%;
		top: 0;
		transition: right $duration ease;
	}

	@include mq(mobile) {
		width: 70%;
		margin: 0;
		background: $dark-blue;
		position: fixed;
		height: 100%;
		right: -70%;
		top: 0;
		transition: right $duration ease;
	}
}

.nav-menu-list {
	margin: 0;
	padding-left: 0;

	@include mq(tablet) {
		margin-top: 129px;
	}

	@include mq(mobile) {
		margin-top: 100px;
	}
}

.nav-item {
	float: left;
	list-style-type: none;
	margin-left: 44px;

	@include mq(tablet) {
		float: none;
		margin-bottom: 47px;
		margin-left: 100px;
	}

	@include mq(mobile) {
		float: none;
		margin-bottom: 32px;
		margin-left: 30px;
	}

	.uderline-blue {
		text-decoration: none;
		font-size: 18px;
		color: $nav-text;
		font-family: 'MuseoSans-700';
		text-align: center;
		padding-bottom: 42px;

		@include mq(tablet) {
			color: $color-white;
			font-size: 20px;
		}

		@include mq(mobile) {
			color: $color-white;
			font-size: 18px;
		}
	}

	.uderline-blue:hover {
		border-bottom: 5px solid $color-underline;
	}
}

.nav-menu-icons {
	display: none;

	@include mq(tablet) {
		display: inline-block;
		list-style-type: none;
		margin-left: 100px;
		margin-top: 21px;
		padding: 0;
	}

	@include mq(mobile) {
		display: inline-block;
		list-style-type: none;
		margin-top: 6px;
		margin-left: 30px;
		padding: 0;
	}

	.soc-icons {
		margin-right: 34px;
		color: $color-icon;
		text-decoration: none;

		@include mq(mobile) {
			margin-right: 22px;
		}
	}	
}


