$color-underline: #0050ff;
$color-white: #ffffff;
$nav-text: #081f3f;
$color-blue: #004ffb;
$dark-blue: #121d3e;
$menu-blue: #2f48f7;
$color-icon: #808b9b;
$grey-bg: #fbfbfb;
$color-black: #000000;
$color-line: #e6e6e6;

$duration: 300ms;
